#todoApp {
  text-align:center;
  margin-top: 60px;
  background-color: lightgreen;
}

.completed {
  text-decoration:line-through;
}

.todo {
  font-family: 'Pacifico', cursive;;
  font-size:35px;
  float:left;
}

li {
  text-align: right;
}

#todosList {
  margin-bottom:15px;

}